<div class=" col-md-4 col-lg-6 ">
        <h4 class="title">Edit Courses</h4>
        <div>
                <form ng-submit="updateCourse()" ng-init="getCourse()">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="course.title" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select ng-model="course.category" class="form-control">
                            <option value="Web Programming">Web Programming</option>
                            <option value="Software Development">Software Development</option>
                            <option value="Full Stack Javascript">Full Stack Javascript</option>
                            <option value="Machine Learning">Machine Learning</option>
                            <option value="Big data">Big data</option>
                            <option value="Mobile Programming">Mobile Programming</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" ng-model="course.description" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" ng-model="course.price" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>PictureUrl</label>
                        <input type="text" class="form-control" ng-model="course.pictureUrl" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>DemoUrl</label>
                        <input type="text" class="form-control" ng-model="course.demoUrl" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>